.sidebar-about h1 {
  font-family: serif;
}

.content.container {
  max-width: none;
}

.resume {
  p {
    text-indent: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  h3 .dates {
    float: right;
    font-weight: normal;
    color: #666;
  }

  p.suppress-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .expander {
    height: auto;
    overflow: hidden;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background: url(images/expander.png) no-repeat 0 300%;
  }

  .expander.hidden {
    height: 20px;
    background: url(images/expander.png) no-repeat 0 0 #bfbfbf;
    border: 2px solid #5f5f5f;
    border-radius: 10px;
  }

  .expander.hidden * {
    opacity: 0;
    cursor: pointer;
  }

  .expander * {
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    opacity: 1;
  }

  /*.resume div.sideline-container {
  height: 0;
  margin-left: -86px;
  margin-top: 0px;
  }

  .resume div.sideline-container img {
  height: 40px;
  margin-top: 3px;
  }*/

  img.sideline {
    position: absolute;
    right: 557px;
    margin-right: 5px;
  }

  #transcript {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }

  #technical-skills {
    -webkit-columns: auto 2;
    -moz-columns: auto 2;
    -o-columns: auto 2;
    -ms-columns: auto 2;
    columns: auto 2;

    margin-bottom: 1em; /*Because the p tags have no bottom as below */
  }

  #technical-skills p {
    margin-bottom: 0;
    padding-bottom: 0;
  } /*Because the p tags have no bottom as below */
}


.tile {
  display: block;
  width: 178px;
  height: 178px;
  margin: 0 19px;
  float: left;
  position: relative;
  overflow: hidden;

  .desc {
    background-color: rgba(238, 171, 167, .7);
    position: absolute;
    top: 148px;
    padding: 7px;
    min-height: 108px;
    -moz-transition: top .3s ease, opacity .3s ease;
    -o-transition: top .3s ease, opacity .3s ease;
    -webkit-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
  }

  &:hover .desc {
    top: 70px;
    background-color: rgba(238, 171, 167, .8);
  }

  .desc h3 {
    margin-bottom: 4px;
    font-weight: 450;
    color: rgb(146, 20, 20);
  }

  .desc p {
    text-indent: 0;
    font-size: 90%;
    color: black !important;
  }
}
